@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Roboto:300|Raleway:900|PT+Serif');

body, html {
	width: 100%;
	height: 100%;
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Playfair Display';
    font-weight: 900;
    font-style: normal;
}

h2 {
	font-size: 2.6vmax;
}

h3 {
	font-size: 2.2vmax;
}
 
h4 {
	font-size: 2vmax;
}

h1 {
	font-size: 6.5vmax;
	font-weight: 900;
}


.firstcharacter {
  float: left;
  font-family: 'PT Serif';
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}

.byline {
	text-align: center;
	font-weight: 900;
}


.byline-2 {
	text-align: center;
	font-weight: 200;
}

p {
	font-family:  'PT Serif', serif;
	font-size: 1.6vmax;
	line-height: 1.8em;
	font-weight: 100;
}


.parallax-header {
	background-image: url("../school-lunch.jpg");

	height: 100%; 

    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/* unvisited link */
a:link {
    color: inherit;
    text-decoration-color: #3a9de5;
}

/* visited link */
a:visited {
    color: inherit;
    text-decoration-color: #3a9de5;
}

/* mouse over link */
a:hover {
    color: white;
    background-color: #3a9de5;
    text-decoration-color: white;
}

/* selected link */
a:active {
    color: blue;
}


table, .dataTables_length, label, .dataTables_info, .paginate_button {
	font-family: "Roboto";
	font-size: 1.3vmax;
	line-height: 1.4vmax;
}

.body-container {
	margin-left: 20%;
	width: 60%;
}

header {
	background-repeat: no-repeat;
	background-size: cover;
    min-height: 15vmax;
	width: 100%;
}


@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px)  {
  	header {
  		background-image: url("../header2.png");
  	}

}

@media only screen 
  and (min-device-width: 1024px)  {
  	header {
  		background-image: url("../header.png");
  	}

}
